.services-wrapper{
     position: relative;
     /* bottom: 12rem; */
    background-color: #112e42;
    width: 100%;
    height:fit-content;
    /* overflow: hidden; */
    /* margin-bottom:rem; */
    /* margin-bottom: 10rem; */
    /* min-height: 100vh; */
}

.services-wrapper  .heading-text h1{


    text-align: center;
    font-size:2.5rem;
   color:#00abf0;


}

.services-wrapper .heading-text span{

    color:#ededed;
}

.services-wrapper .cards-container{

    margin:1rem 10rem 0rem 10rem;
    display: flex;
    justify-content: space-between;
   
}

.services-wrapper .cards-container .card{


    width: 33%;
    height: 29rem;
    background-color: transparent;
    border-radius: 1rem;
    border: 0.5rem solid transparent;
    /* background-color: aqua; */
    background-color: #081b29;
    text-align: center;
    /* align-items: center; */
    color:white;
    margin:0.9;
    transition: .9s;
}
.services-wrapper .cards-container .card:hover{


    background-color: #112e42;
    width: 34%;
    height: 30rem;
    box-shadow: 1px 1px 20px #00abf0;
}

.services-wrapper .cards-container .card img{

    width: 80%;
    height:60% ;

    /* background-color: #112e42; */
}

.services-wrapper .cards-container .card p{

    padding-top:0.5rem;
}

/* Your current CSS remains here... */

/* Tablet devices (width up to 1024px) */
@media only screen and (max-width: 1024px) {
    .services-wrapper .cards-container {
        margin: 0rem 5rem;
    }

    .services-wrapper .cards-container .card {
        width: 45%; 
        height: 27rem;
    }

    .services-wrapper .heading-text h1 {
        font-size: 2rem;
    }
}

/* Mobile devices (width up to 768px) */
@media only screen and (max-width: 768px) {
    .services-wrapper .cards-container {
        flex-direction: column;
        align-items: center;
        margin: 1rem 2rem 0rem 2rem;
        
    }

    .services-wrapper .cards-container .card {
        width: 100%; 
        height: 20rem;
        margin-bottom: 2rem;
    }
    .services-wrapper .cards-container .card:hover{


        background-color: #112e42;
        width: 105%;
        height:22rem;
        box-shadow: 1px 1px 20px #00abf0;
    }

    .services-wrapper .heading-text h1 {
        font-size: 1.8rem;
    }
}
