* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: "Poppins", sans-serif;
}

.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 9%;
    background-color: #081b29;
    z-index: 100;
}

.header-logo {
    font-size: 2.5rem;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.navbar ul li a {
    margin-left: 3.5rem;
    font-size: 1.7rem;
    font-weight: 600;
    transition: .5s;
    cursor: pointer;
    color: white;
}

.navbar ul li a:hover,
.navbar ul li a.active {
    color: #00abf0;
}

.mobile-icon {
    display: none;
    font-size: 2.5rem;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .navbar ul {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: #081b29;
        text-align: center;
        display: none;
        overflow-y: scroll;  /* Scrollable if content exceeds the height */
        min-height: 70vh;    /* Using max-height instead of height for flexibility */
    }

    .navbar ul li a {
        font-size: 1.5rem;
    }

    .navbar ul li:hover {
        background-color: #00abf0;
    }

    .navbar ul.show {
        display: flex;
    }

    .mobile-icon {
        display: block;
        color: #fff;
    }
}
